n8n/workflows/00-corestack-healthchecks.json
{
  "name": "00 Corestack Healthchecks",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 260]
    },
    {
      "parameters": {
        "mode": "manual",
        "jsonOutput": "={{ {\"checks\":[{\"name\":\"tool-gateway\",\"url\":\"http://tool-gateway:8787/health\"},{\"name\":\"ollama-tags\",\"url\":\"http://ollama:11434/api/tags\"}] } }}"
      },
      "id": "set-targets",
      "name": "Set Health Targets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 260]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  for (const check of item.json.checks || []) {\n    out.push({ json: { ...check, checked_at: new Date().toISOString() } });\n  }\n}\nreturn out;"
      },
      "id": "expand-list",
      "name": "Expand Checks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 260]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-check",
      "name": "HTTP Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((item) => ({\n  service: item.json.name || 'unknown',\n  status: (item.json.statusCode || 0) >= 200 && (item.json.statusCode || 0) < 400 ? 'ok' : 'error',\n  latency_ms: item.json.timings?.total ?? null,\n  checked_at: item.json.checked_at || new Date().toISOString(),\n  status_code: item.json.statusCode || 0\n}));\nconsole.log('corestack.healthchecks', JSON.stringify(rows));\nreturn rows.map((row) => ({ json: row }));"
      },
      "id": "format-log",
      "name": "Format + Execution Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 260]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Set Health Targets", "type": "main", "index": 0 }]]
    },
    "Set Health Targets": {
      "main": [[{ "node": "Expand Checks", "type": "main", "index": 0 }]]
    },
    "Expand Checks": {
      "main": [[{ "node": "HTTP Health Check", "type": "main", "index": 0 }]]
    },
    "HTTP Health Check": {
      "main": [[{ "node": "Format + Execution Log", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
