n8n/workflows/01-web-fetch-tool.json
{
  "name": "01 Web Fetch Tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tools/web.fetch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-fetch",
      "name": "Webhook /tools/web.fetch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "mode": "manual",
        "jsonOutput": "={{ {\"allowlist\": \"example.com,localhost\", \"timeout_ms\": 8000 } }}"
      },
      "id": "allowlist-config",
      "name": "Allowlist Config (Placeholder)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 320]
    },
    {
      "parameters": {
        "jsCode": "const body = $items('Webhook /tools/web.fetch', 0, 0)[0].json.body || $items('Webhook /tools/web.fetch', 0, 0)[0].json;\nconst url = String(body.url || '').trim();\nconst agent_id = String(body.agent_id || body.agent || 'unknown-agent');\nconst purpose = String(body.purpose || 'unspecified');\nif (!/^https?:\\/\\//i.test(url)) {\n  return [{ json: { ok: false, code: 400, error: 'invalid url', agent_id, purpose, url } }];\n}\nconst hostname = new URL(url).hostname.toLowerCase();\nconst allowlistRaw = String($json.allowlist || '').toLowerCase();\nconst allowlist = allowlistRaw.split(',').map((v) => v.trim()).filter(Boolean);\nif (!allowlist.includes(hostname)) {\n  return [{ json: { ok: false, code: 403, error: 'hostname not allowlisted', agent_id, purpose, url, hostname } }];\n}\nreturn [{ json: { ok: true, url, agent_id, purpose, timeout_ms: Number($json.timeout_ms || 8000) } }];"
      },
      "id": "validate-policy",
      "name": "Validate URL + Allowlist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 320]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-allowed",
      "name": "Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [980, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"error\": $json.error, \"status\": $json.code, \"url\": $json.url } }}",
        "options": {
          "responseCode": "={{$json.code || 403}}"
        }
      },
      "id": "respond-deny",
      "name": "Respond Deny",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1220, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "options": {
          "timeout": "={{$json.timeout_ms}}",
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "string",
              "neverError": true
            }
          }
        }
      },
      "id": "http-fetch",
      "name": "HTTP Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const body = String($json.body || '');\nconst titleMatch = body.match(/<title[^>]*>([^<]+)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].trim() : '';\nconst extracted_text = body.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 12000);\nconst out = {\n  url: $json.url,\n  status: Number($json.statusCode || 0),\n  title,\n  extracted_text,\n  fetched_at: new Date().toISOString(),\n  agent_id: $json.agent_id,\n  purpose: $json.purpose\n};\nconsole.log('corestack.web_fetch', JSON.stringify({ agent_id: out.agent_id, purpose: out.purpose, url: out.url, status: out.status }));\nreturn [{ json: out }];"
      },
      "id": "format-log",
      "name": "Format + Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1700, 200]
    }
  ],
  "connections": {
    "Webhook /tools/web.fetch": {
      "main": [[{ "node": "Allowlist Config (Placeholder)", "type": "main", "index": 0 }]]
    },
    "Allowlist Config (Placeholder)": {
      "main": [[{ "node": "Validate URL + Allowlist", "type": "main", "index": 0 }]]
    },
    "Validate URL + Allowlist": {
      "main": [[{ "node": "Allowed?", "type": "main", "index": 0 }]]
    },
    "Allowed?": {
      "main": [
        [{ "node": "HTTP Fetch", "type": "main", "index": 0 }],
        [{ "node": "Respond Deny", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Fetch": {
      "main": [[{ "node": "Format + Log", "type": "main", "index": 0 }]]
    },
    "Format + Log": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
