n8n/workflows/02-web-search-tool.json
{
  "name": "02 Web Search Tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tools/web.search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-search",
      "name": "Webhook /tools/web.search",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [260, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "jsonOutput": "={{ {\"search_api_url\": \"https://search.example/api\", \"search_api_key\": \"REQUIRED\" } }}"
      },
      "id": "search-config",
      "name": "Search API Config Placeholder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $items('Webhook /tools/web.search', 0, 0)[0].json.body || $items('Webhook /tools/web.search', 0, 0)[0].json;\nconst query = String(body.query || '').trim();\nconst max_results = Math.min(Math.max(Number(body.max_results || 5), 1), 10);\nif (!query) {\n  return [{ json: { ok: false, code: 400, error: 'query is required' } }];\n}\nconst payload = {\n  query,\n  results: [\n    {\n      title: 'Placeholder result (configure search API)',\n      url: 'https://example.com/search-placeholder',\n      snippet: 'Set search_api_url and search_api_key in this workflow before production use.',\n      source: 'placeholder',\n      published_at: null\n    }\n  ].slice(0, max_results),\n  searched_at: new Date().toISOString()\n};\nconsole.log('corestack.web_search', JSON.stringify({ query, results_count: payload.results.length }));\nreturn [{ json: { ok: true, payload } }];"
      },
      "id": "validate-build",
      "name": "Validate Query + Build Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"error\": $json.error, \"status\": $json.code || 400 } }}",
        "options": {
          "responseCode": "={{$json.code || 400}}"
        }
      },
      "id": "respond-bad",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1260, 440]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.payload}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond Search Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1260, 220]
    }
  ],
  "connections": {
    "Webhook /tools/web.search": {
      "main": [[{ "node": "Search API Config Placeholder", "type": "main", "index": 0 }]]
    },
    "Search API Config Placeholder": {
      "main": [[{ "node": "Validate Query + Build Results", "type": "main", "index": 0 }]]
    },
    "Validate Query + Build Results": {
      "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]]
    },
    "Valid?": {
      "main": [
        [{ "node": "Respond Search Results", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad Request", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
