n8n/workflows/02-web-search-tool.json
{
  "name": "02 Web Search Tool",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tools/web.search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-search",
      "name": "Webhook /tools/web.search",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [220, 320]
    },
    {
      "parameters": {
        "mode": "manual",
        "jsonOutput": "={{ {\"search_api_url\": \"https://search.example/api\", \"search_api_key\": \"REQUIRED\" } }}"
      },
      "id": "search-config",
      "name": "Search API Config Placeholder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "jsCode": "const incoming = $items('Webhook /tools/web.search', 0, 0)[0].json.body || $items('Webhook /tools/web.search', 0, 0)[0].json;\nconst inputs = incoming.inputs || {};\nconst query = String(inputs.query || '').trim();\nconst max_results = Math.min(Math.max(Number(inputs.max_results || 5), 1), 10);\nif (!query) {\n  return [{ json: { ok: false, code: 400, error: 'inputs.query is required' } }];\n}\nconst hasKey = $json.search_api_key && $json.search_api_key !== 'REQUIRED';\nreturn [{ json: { ok: true, query, max_results, has_key: Boolean(hasKey), search_api_url: $json.search_api_url, search_api_key: $json.search_api_key } }];"
      },
      "id": "validate-input",
      "name": "Validate Search Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 320]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [940, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"error\": $json.error, \"status\": $json.code || 400 } }}",
        "options": {
          "responseCode": "={{$json.code || 400}}"
        }
      },
      "id": "respond-invalid",
      "name": "Respond Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1180, 520]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_key}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-key",
      "name": "API Key Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1180, 240]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.search_api_url}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.query}}"
            },
            {
              "name": "num",
              "value": "={{$json.max_results}}"
            }
          ]
        },
        "options": {
          "timeout": 8000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.search_api_key}}"
            }
          ]
        }
      },
      "id": "http-search",
      "name": "Search API Request (Placeholder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nif (Array.isArray($json.results)) {\n  for (const r of $json.results.slice(0, 10)) {\n    results.push({\n      title: String(r.title || ''),\n      url: String(r.url || r.link || ''),\n      snippet: String(r.snippet || r.description || ''),\n      source: String(r.source || 'api'),\n      published_at: r.published_at || null\n    });\n  }\n}\nconst payload = {\n  query: $json.query || '',\n  results,\n  searched_at: new Date().toISOString()\n};\nconsole.log('corestack.web_search', JSON.stringify({ query: payload.query, results_count: payload.results.length }));\nreturn [{ json: payload }];"
      },
      "id": "format-search",
      "name": "Format Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 180]
    },
    {
      "parameters": {
        "mode": "manual",
        "jsonOutput": "={{ {\"query\": $json.query, \"results\": [], \"searched_at\": new Date().toISOString() } }}"
      },
      "id": "empty-results",
      "name": "Return Empty Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1420, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond Search",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1900, 240]
    }
  ],
  "connections": {
    "Webhook /tools/web.search": {
      "main": [[{ "node": "Search API Config Placeholder", "type": "main", "index": 0 }]]
    },
    "Search API Config Placeholder": {
      "main": [[{ "node": "Validate Search Inputs", "type": "main", "index": 0 }]]
    },
    "Validate Search Inputs": {
      "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]]
    },
    "Valid?": {
      "main": [
        [{ "node": "API Key Configured?", "type": "main", "index": 0 }],
        [{ "node": "Respond Invalid", "type": "main", "index": 0 }]
      ]
    },
    "API Key Configured?": {
      "main": [
        [{ "node": "Search API Request (Placeholder)", "type": "main", "index": 0 }],
        [{ "node": "Return Empty Results", "type": "main", "index": 0 }]
      ]
    },
    "Search API Request (Placeholder)": {
      "main": [[{ "node": "Format Search Results", "type": "main", "index": 0 }]]
    },
    "Format Search Results": {
      "main": [[{ "node": "Respond Search", "type": "main", "index": 0 }]]
    },
    "Return Empty Results": {
      "main": [[{ "node": "Respond Search", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
