n8n/workflows/03-rss-ingest.json
{
  "name": "03 RSS Ingest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-rss",
      "name": "Daily RSS Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 280]
    },
    {
      "parameters": {
        "mode": "manual",
        "jsonOutput": "={{ { feeds: [ 'https://hnrss.org/frontpage', 'https://feeds.bbci.co.uk/news/world/rss.xml' ] } }}"
      },
      "id": "set-feeds",
      "name": "Set Feed URLs (Editable)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 280]
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nfor (const item of $input.all()) {\n  for (const feed of item.json.feeds || []) {\n    out.push({ json: { feed_url: feed } });\n  }\n}\nreturn out;"
      },
      "id": "expand-feeds",
      "name": "Expand Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 280]
    },
    {
      "parameters": {
        "url": "={{$json.feed_url}}",
        "options": {}
      },
      "id": "rss-read",
      "name": "Read RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [940, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst data = $getWorkflowStaticData('global');\nif (!data.rssSeenIds) data.rssSeenIds = {};\nconst newItems = [];\nfor (const item of $input.all()) {\n  const guid = String(item.json.guid || item.json.id || item.json.link || '').trim();\n  if (!guid) continue;\n  if (data.rssSeenIds[guid]) continue;\n  data.rssSeenIds[guid] = true;\n  newItems.push({\n    title: item.json.title || '',\n    link: item.json.link || '',\n    published_at: item.json.isoDate || item.json.pubDate || null,\n    source: item.json.feedUrl || item.json.source || 'rss',\n    captured_at: new Date().toISOString()\n  });\n}\nconst dir = '/data/research-inbox';\ntry { fs.mkdirSync(dir, { recursive: true }); } catch (e) {}\nconst stamp = new Date().toISOString().replace(/[:.]/g, '-');\ntry { fs.writeFileSync(`${dir}/new-${stamp}.json`, JSON.stringify(newItems, null, 2)); } catch (e) {}\ntry { fs.writeFileSync(`${dir}/latest.json`, JSON.stringify(newItems, null, 2)); } catch (e) {}\nreturn [{ json: { new_items_count: newItems.length, written_at: new Date().toISOString(), items: newItems } }];"
      },
      "id": "dedupe-store",
      "name": "Dedupe + Store Research Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 280]
    }
  ],
  "connections": {
    "Daily RSS Trigger": {
      "main": [[{ "node": "Set Feed URLs (Editable)", "type": "main", "index": 0 }]]
    },
    "Set Feed URLs (Editable)": {
      "main": [[{ "node": "Expand Feed List", "type": "main", "index": 0 }]]
    },
    "Expand Feed List": {
      "main": [[{ "node": "Read RSS Feed", "type": "main", "index": 0 }]]
    },
    "Read RSS Feed": {
      "main": [[{ "node": "Dedupe + Store Research Inbox", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "corestack"
    },
    {
      "name": "ingest"
    }
  ]
}
